.App {
  text-align: center;
}

.stuck {
  padding-top: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.my-sticky-header {
  width: 100%;
  height: inherit;
  background-color: #ced4da;
  z-index: 999;
}

.my-sticky-header-sticky {
  width: 100%;
  height: inherit;
  background-color: #ced4da;
  z-index: 999;
  position: fixed;
}

.my-sticky-header text {
  color: white;
}

.my-sticky-header-sticky text {
  color: white;
}

.my-sticky-header-stick text {
  color: white;
}

.gallery {
  width: 50%!important;
}

.my-card {
  width:15rem!important;
  transition: 0.4s ease ;
}

.my-card:hover {
  border-color: blue;
}

.my-modal {
  transition: 0.4s ease ;
}

.MODAL_STYLES {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 50px;
  z-index: 1000;
  color: black;
  transform: translate(-50%,-50%) scale(1);
  transition: 0.4s ease all;
}

.OVERLAY_STYLES {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 999;
  transition: 0.4s ease all;
};

.voice-bar-text {
  color:aliceblue!important;
}

.my-input {
  top: 5px;
}

.icon-wrapper {
 position:fixed;
}