.App {
  text-align: center;
}

.stuck {
  padding-top: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.my-sticky-header {
  width: 100%;
  height: 5rem;
  background-color: black;
  /* top: 0; */
  /* position:sticky; */
  z-index: 999;
}

.my-sticky-header-sticky {
  width: 100%;
  height: 5rem;
  background-color: black;
  z-index: 999;
  position: fixed;
}

.my-sticky-header text {
  color: white;
}

.my-sticky-header-sticky text {
  color: white;
}

.my-sticky-header-stick text {
  color: white;
}

.gallery {
  width: 50%!important;
}

.my-card {
  width:15rem!important;
}